* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 80px;
}

.App-header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.App-container {
  display: flex;
}

.App-left-container {
  display: flex;
  flex: 0 0 50%;
}

.App-right-container {
  flex: 0 0 50%;
  overflow: scroll;
  padding: 5px;
  display: grid;
  height: 80vh;
  cursor: pointer;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  padding: 1rem;
  overflow-y: scroll;
}

.List-thumbnail img {
  max-width:100%;
  max-height:100%;
}

.List-thumbnail p {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
