@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  background-color: #1b2021;
}

h1, h2, p, input, button {
  font-family: 'Oswald', sans-serif;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 80px;
}

.App-header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-container {
  display: flex;
}

.App-left-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  padding: 20px;
  height: 80vh;
}

.App-right-container {
  flex: 0 0 40%;
  padding: 20px;
}

.App-container-title {
  text-align: center;
  margin-bottom: 30px;
  color: #FFCB21;
}

.App-images-list {
  overflow: scroll;
  height: 100vh;
  display: grid;
  cursor: pointer;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.List-thumbnail img {
  max-width:100%;
  max-height:100%;
}

.List-thumbnail p {
  padding: 10px;
}

.App-meme-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.App-meme-form input {
  flex: 1;
  padding: 10px;
  margin: 0px 20px 30px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: 0;
  color: black;
}

.App-meme-window {
  height: calc(80vh - 200px);
  text-align: center;
}

.App-meme-download {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.App-meme-download button {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFCB21;;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: #1b2021;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
  .App-container {
    display:block;
  }

  .App-meme-form {
    display: block;
  }

  .App-meme-form input {
    width: 80%;
  }

  .App-meme-form p {
    margin-bottom: 10px;
    text-align: center;
  }
}
